.display {
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 5px;
}

body {
    background-color: paleturquoise;
}

#weatherinfobox {
    height: 70px;
    width: 414px;
    background-color: cornflowerblue;
    position: absolute;
    margin-top: 358px;
    border-radius: 6px;
    margin-left: 20px;
    box-shadow: cornflowerblue 0px 0px 10px;
    padding: 10px;
    margin-right: 20px;
}

#forecast {
    width: 474px;
    height: 468px;
    background-color: floralwhite;
    position: absolute;
    margin: 15px 13px 25px 13px;
    border-radius: 20px;
}

#todaystemp {
    width: 200px;
    height: 50px;
}

h1 {
    font-size: 25px;
    padding: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.temp {
    font-size: 50px;
    margin-top: 0;
    margin-left: 55px;
    position: absolute;
    width: 56px;
    height: 60px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#dailyweather {
    height: 330px;
    width: 280px;
    background-color: beige;
    position: absolute;
    margin: 18px 10px 10px 21px;
    border-radius: 10px;
}

#forecastresults {
    height: 332px;
    width: 145px;
    border-radius: 10px;
    background-color: blanchedalmond;
    position: relative;
    margin: 18px 20px 0 10px;
    float: right;
}

#locationinput {
    width: 330px;
    height: 25px;
    background-color: dodgerblue;
    padding: 4px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    padding: 10px;
    align-content: center;
}

.greentext {
    color: lightgreen;
}

#locationsubmit {
    font-size: 12px;
    padding: 3px;
    margin-left: 10px;
}

.form-control {
    height: 25px;
}

.enterbelow {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: black;
    margin-left: 50px;
    margin-top: 150px;
    font-weight: bold;
}

#dailyweatherresultbox {
    height: 245px;
    width: 265px;
    background-color: white;
    position: absolute;
    margin-left: 7px;
    border-radius: 10px;
}

.defaultweather {
    background-image: url(https://i.imgur.com/0fKvhQG.png);
    width: 474px;
    height: 500px;
    border-radius: 10px;
    position: relative;
}

.sunnyweather {
    background-image: url(https://i.imgur.com/SYJLhEF.png);
    overflow: hidden;
    width: 474px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    background-repeat: no-repeat;
}

.rainyweather {
    background-image: url(https://i.imgur.com/CEILIfk.png);
    overflow: hidden;
    width: 474px;
    height: 500px;
    border-radius: 10px;
    position: relative;
}

.windyweather {
    background-image: url(http://www.schteingart.com/PalmTreesHawaiiWEB.jpg);
    height: 500px;
    width: 474px;
    background-size: 476px 500px;
    border-radius: 22px;
    margin-top: -19px;
}

.overcastweather {
    background-image: url(https://i.imgur.com/EYhirWA.png);
    height: 500px;
    width: 474px;
    background-size: 476px 500px;
    border-radius: 22px;
    margin-top: -19px;
}

.thunderweather {
    background-image: url(https://i.imgur.com/GNJ2xXy.png);
    height: 500px;
    width: 474px;
    border-radius: 5px;
}

.snowyweather {
    background-image: url(https://i.imgur.com/4Tmt30b.png);
    height: 500px;
    width: 474px;
    border-radius: 10px;
}

.cloudyweather {
    background-image: url(https://i.imgur.com/JyDBWzR.png);
    height: 500px;
    width: 474px;
    border-radius: 10px;
}

.foggyweather {
    background-image: url(https://i.imgur.com/wN8UPx5.png);
    height: 500px;
    width: 474px;
    border-radius: 10px;
}